---
layout: page
title: "About"
description: "「Jii Eu (劉 智道)」"
header-img: "img/about-bg.jpg"
multilingual: true
---

<style>
    p {
        margin: 30px 0;
    }
</style>
{% include multilingual-sel.html %}

<!-- English Version -->
<div class="en post-container" data-aos="fade-up">
  {% capture about_en %}{% include about/en.md %}{% endcapture %}
  {{ about_en | markdownify }}
</div>

<!-- Korean Version -->
<div class="ko post-container" data-aos="fade-up">
  {% capture about_ko %}{% include about/ko.md %}{% endcapture %}
  {{ about_ko | markdownify }}
</div>

<!-- Janpanese Version -->
<div class="ja post-container" data-aos="fade-up">
  {% capture about_ja %}{% include about/ja.md %}{% endcapture %}
  {{ about_ja | markdownify }}
</div>

{% if site.disqus_username %}
<!-- <div class="comment">
  <div id="disqus_thread" class="disqus-thread"></div>
  </div> -->
  <div id="disqus_thread"></div>
  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

var disqus_config = function () {
  this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "{{page.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://eubug-space.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
