---
layout: page
title: "About"
description: "(っ'-')╮ =͟͟͞͞ 💿"
header-img: "img/about-bg.jpg"
multilingual: true
---

<style>
    p {
        margin: 30px 0;
    }
    .lang-selector {
        display: flex;
        justify-content: space-around;
    }
    .lang-selector a:hover,
    .lang-selector a:focus,
    .lang-selector a:active {
        text-decoration: none;
    }
</style>

<p align="center" class="lang-selector">
    <a href="/about/">English 🇺🇸 </a>
    <a href="/about/?lang=ja">日本語 🇯🇵</a>
    <a href="/about/?lang=ko">한국어 🇰🇷 </a>
</p>

<select class="sel-lang" style="display: none;"onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected>  English </option>
    <option value="1"> Korean</option>
    <option value="2"> Japanese </option>
</select>

<!-- English Version -->
<div class="en post-container" data-aos="fade-up">
  {% capture about_en %}{% include about/en.md %}{% endcapture %}
  {{ about_en | markdownify }}
</div>

<!-- Korean Version -->
<div class="ko post-container" data-aos="fade-up">
  {% capture about_ko %}{% include about/ko.md %}{% endcapture %}
  {{ about_ko | markdownify }}
</div>

<!-- Janpanese Version -->
<div class="ja post-container" data-aos="fade-up">
  {% capture about_ja %}{% include about/ja.md %}{% endcapture %}
  {{ about_ja | markdownify }}
</div>


<hr>
<!-- utterances comment -->
<script src="https://utteranc.es/client.js"
    repo="euisblue/blog-comments"
    issue-term="pathname"
    label="comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>
<!-- utterances comment end -->