---
layout: page
title: "About"
description: "(っ'-')╮ =͟͟͞͞ 💿"
header-img: "img/about-bg.jpg"
multilingual: true
---

<style>
    p {
        margin: 30px 0;
    }
</style>
{% include multilingual-sel.html %}

<!-- English Version -->
<div class="en post-container" data-aos="fade-up">
  {% capture about_en %}{% include about/en.md %}{% endcapture %}
  {{ about_en | markdownify }}
</div>

<!-- Korean Version -->
<div class="ko post-container" data-aos="fade-up">
  {% capture about_ko %}{% include about/ko.md %}{% endcapture %}
  {{ about_ko | markdownify }}
</div>

<!-- Janpanese Version -->
<div class="ja post-container" data-aos="fade-up">
  {% capture about_ja %}{% include about/ja.md %}{% endcapture %}
  {{ about_ja | markdownify }}
</div>


<hr>
<!-- utterances comment -->
<script src="https://utteranc.es/client.js"
    repo="ipflegen/blog-comments"
    issue-term="pathname"
    label="comment"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>
<!-- utterances comment end -->