---
layout: page
title: "CVITAE"
date:   2021-03-25 07:00:00 +1400
description: "「I am my own person」"
permalink: "/resume/"
header-img: "img/cv-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include cvitae/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<!-- Korean Version -->
<div class="ko post-container">
    {% capture about_ko %}{% include cvitae/ko.md %}{% endcapture %}
    {{ about_ko | markdownify }}
</div>

<!-- Japanese Version -->
<div class="ja post-container">
    {% capture about_ja %}{% include cvitae/ja.md %}{% endcapture %}
    {{ about_ja | markdownify }}
</div>