---
layout: page
description: "Work hard in silence<br>Let success make the noise"
title: "Yuu Eu"
lang: en
---

{% assign posts = site.posts | where:'lang','en' | where: 'hidden','false' %}

{% for post in posts %}
<div class="post-preview" data-aos="fade-up">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <!-- <div class="post-content-preview" >
            {{ post.content | strip_html | truncate:300 }}
        </div> -->
    </a>
    <div class="post-preview item archive" style="display:flex; align-items: center; justify-content: space-between; flex-wrap: wrap; margin-left: 0; padding: 0.5em 0 0.5em 0;" data-tags="{{ _tags }}">
        <div>
            <!-- <span style="margin: 0px 35px 0px 2px">{{site.title}}</span> -->
            <span style="font-size: 14px;"> {{ post.date | date: "%B %-d, %Y" }}</span>
        </div>
        <div class="tag">
            {%- for _tag in post.tags -%}
            {% assign _t = _tag | split:' ' %}
            <a class="tag__link" href="/archive/?tag={{_t | join:'+'}}"><span class="tag__item">{{_tag}}</span></a>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% endfor %}


<style>
    @media only screen and (max-width:580px) {
    hr {
        margin-top: 5px !important;
    }
    .archive {
        justify-content: left;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: initial !important;
        flex-wrap: nowrap !important;
    }
    .archive p {
        align-items: left;
        justify-content: initial;
        flex-wrap: nowrap;
        margin-left: 5px;
    }
    #tag_cloud .tag, #tag_cloud a {
        font-size: 13px !important;
    }
    .tag {
        width: 100%;
        margin-top: 5px;
        margin-left: -2px;
    }
}

.tag {
    float: right;
    user-select: none;
    --webkit-user-select: none; }
    .tag__link {
        text-decoration: none !important;}
    .tag__item {
        user-select: none;
        --webkit-user-select: none;  
        color: #6e6e6e;
        font-size: 13px;
        font-style: initial;
        border: 0.5px solid #dadada;
        border-radius: 5px;
        padding: 2px 5px; }
    .tag__item:focus,
    .tag__item:active,
    .tag__item:hover {
        color: #fff;
        background-color: rgb(70, 70, 70); }
</style>

<!-- Pager -->
 <!-- {% if paginator.total_pages > 1 %} 
<ul class="pager" data-aos="fade-up">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}  -->
