---
layout: page
description: "- 常に最初の頃のように -"
lang: ja
title: "智道"
permalink: /ja/
---
<!-- 初心忘れるべからず -->
{% assign posts = site.posts | where:'lang','ja' | where: 'hidden','false' %}

{% for post in posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title" data-aos="fade-right">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle" data-aos="fade-left">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <div class="post-meta" style="font-style: italic;" data-aos="fade-right">
        <div>
            <span style="margin: 0px 35px 0px 2px">{{site.title}}</span>
            <span> {{ post.date | date: "%B %-d, %Y" }}</span>
        </div>
        <div class="tag">
            {%- for _tag in post.tags -%}
            <a class="tag__link" href="/archive/?tag={{_tag}}"><span class="tag__item">{{_tag}}</span></a>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% endfor %}


<style>
.tag {
    float: right;
    user-select: none;
    --webkit-user-select: none;  }
    .tag__link {
        text-decoration: none !important;}
    .tag__item {
        user-select: none;
        color: #bdbdbd;
        font-size: 14px;
        border: 0.5px solid #dadada;
        border-radius: 5px;
        padding: 2px 5px; }
    .tag__item:focus,
    .tag__item:active,
    .tag__item:hover {
        color: #fff;
        background-color: rgb(70, 70, 70); }
</style>

<!-- Pager -->
<!-- {% if posts.size > paginator.per_page %}
<ul class="pager" data-aos="fade-up">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %} -->