/********** root ************/
body {
	background-color: rgba(0,0,0,0.3);
	font-family: 'Righteous', cursive;
}

/********** HEADER **********/
header {
	background-color: white;
	font-size: 5em;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
}

header:hover div.header span {
	display:none;
}

header:hover  div.header:after {
	content: 'Fdhvdu Flskhu';
}

/********** MAIN **********/
main div.shift {
	display: flex;
	width: 10em;
	margin: 10px auto;
	text-align: center;
	font-size: 1.5em;
}

main div.shift > div:nth-child(1) {
	font-size: 1em;
	text-align: center;
	width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}


main div.shift > div:nth-child(1) > input {
	font-size: 20px;
	width: 50px;
	text-align: center;
}

img {
	border-radius: 50%;
	margin: 0 10px;
}

img:hover {
	cursor: pointer;
}

textarea {
	width: 100%;
	resize: none;
}

main div.translate {
	width: 95%;
	margin: 0 auto;
}

div.translate > .left {
	width: 50%;
	float: left;
}

div.translate > .right {
	width: 50%;
	float: right;
}

div.encode, div.caesar {
	width: 95%;
}

#encode-textarea, #caesar-textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}
