<aside class="logo">

    {% if page.url == site.index[page.lang] or page.url == '/' %}
        {% assign link = site.about[page.lang] %}
        {% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = site.index[page.lang] %}
        {% if page.lang == 'en' %}
            {% assign prompt = 'Back to Index' %}
        {% elsif page.lang == 'ko' %}
            {% assign prompt = '홈으로 돌아가기' %}
        {% else %}
            {% assign prompt = 'ホームに戻る' %}
        {% endif %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>
