<div id="language-switch">
    <a href="#" class="eubug-float" id="menu-share">
        <i class="my-float">
            <img class="circle-img" src="/assets/images/lang.png" alt="Language Switch">
        </i>

    </a>
    <ul>
        <li>
            <a href="#">
                <i class="my-float">
                    <img class="circle-img" src="/assets/images/ko.png" alt="Korean">
                </i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="my-float">
                    <img class="circle-img" src="/assets/images/ja.png" alt="Japanese">
                </i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="my-float">
                    <img class="circle-img" src="/assets/images/en.png" alt="English">
                </i>
            </a>
        </li>
    </ul>
</div>