<section>
    {% assign siteCtgo = site.categories | sort %}
    {% for category in siteCtgo %}
    {% assign header = nil %}
    {% assign posted = nil %}
        {% for post in category[1] %}
            {% if post.categories contains "AtCoder" or
                  post.categories contains "Baekjoon" or
                  post.categories contains "LeetCode") %}
                {% if post.lang == page.lang %}
                    {% if header == nil %}
                        <h3 class="code">{{ category[0] }} </h3>
                        {% assign header = true %}
                        {% assign posted = true %}
                    {% endif %}
                    <ul>
                        <li>
                            <div class="post-date code">
                                <span>{{ post.date | date: "%Y %b %d" }}</span>
                            </div>
                            <div class="title">
                                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

</section>
