<section>
{% for post in site.posts %}
    {% if post.lang == page.lang and post.categories contains "Toys"%}
        <h3 class="code">{{ category[0] }} </h3>
        <ul>
            <li>
                <div class="post-date code">
                    <span>{{ post.date | date: "%Y %b %d" }}</span>
                </div>
                <div class="title">
                    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
                </div>
            </li>
        </ul>
    {% endif %}
{% endfor %}
</section>
