body {
    margin: 0;
}

.bar-top {
    height: 280px;
    width: auto;
    background-color: black;
}

.bar-bottom {
    height: 150px;
    width: auto;
    background-color: black;
}

.bar-text {
    font-family: BOLD-KR, Arial;
    font-size: 100px;
    color: white;

    text-align: center;
    padding-top: 20px;
}

main {
    text-align: center;
}

main div {
    margin: 0 auto;
}

footer {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: blue;
}

:root {
    --box-width: 150px;
    --box-height: 150px;
    --flex-width: 300px;
}

.back {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
}

.main-flex {
    display: flexbox;
}

.flex {
    border: 2px solid black;
    display: flex;
    width: 500px;
}

.flex-start {
    justify-content: flex-start;;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

.red-box {
    width: var(--box-width, 250px);
    height: var(--box-height, 250px);
    background-color: #ff0000;
}

.blue-box {
    width: var(--box-width, 250px);
    height: var(--box-height, 250px);
    background-color: #0000ff;
}

@font-face {
    font-family: BOLD-KR;
    src: url('../fonts/BlackHanSans-Regular.ttf') format('truetype');
}

@media only screen and (max-width: 600px) {
    .red-box {
        width: 100px;
        height: 100px;
    }

    .blue-box {
        width: 100px;
        height: 100px;
    }

    .flex {
        width: 300px;
    }

    .bar-text {
        font-size: 68px;
        padding-top: 60px;
    }

    .bar-bottom {
        height: 250px;
    }
}

@media only screen and (max-width: 430px) {
    .bar-top {
        width: auto;
        height: auto;
    }
    .bar-text {
        padding: 20px 0;
        font-size: 40px;
    }
    .bar-bottom {
        height: auto;
    }
}