---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

// language switch
#language-switch .circle-img{
	width: 40px;
	height: 40px;
	bottom: 40px;
	object-fit: cover;
	background-size:cover;
	background-position:center;
	border-radius:50%;
}

#language-switch .eubug-float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}

#language-switch ul{
	position:fixed;
	right:40px;
	padding-bottom:15px;
	bottom:40px;
	z-index:100;
}

#language-switch ul li{
	list-style:none;
	margin-bottom:20px;
}

#language-switch ul li a{
	background-color:rgba(255, 255, 255, 1.0);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:40px;
	height:40px;
	display:block;
	text-decoration: none;
}

#language-switch  ul:hover{
	visibility:visible!important;
	opacity:1!important;
}


#language-switch .my-float{
	font-size:24px;
	margin-top:10px;
}

#language-switch a#menu-share + ul{
  visibility: hidden;
}

#language-switch a#menu-share:hover + ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

#language-switch a#menu-share i{
	animation: rotate-in 0.5s;
}

#language-switch a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes scale-in {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-out {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}