#bg-color {
    /* empty */
    background-color: #fff;
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.result {
    /* empty */
}

.main {
    width: 90%;
}

.center {
    margin: 0 auto;
}

.header {
    height: 13rem;
    font-family: MYFONT, Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-align: center;
    padding-top: 3rem;
    letter-spacing: 7px;
}

input {
    background: transparent;
    color: black;
    
    font-family: MYFONT, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 2px;

    border: 0;
    border-bottom: 5px solid black;
    outline: none;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 640px) {
    /* if [device width] is >= 640px */
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    /* if [device width] is >= 768px */
    .header {
        height: 25rem;
    }
}

@media only screen and (min-width: 1024px) {
    /* if [device width] is >= 1024px */
    .header {
        height: 20rem;
        font-size: 8rem;
        padding-top: 3rem;
        letter-spacing: 7px;
    }

    input {        
        font-family: MYFONT, Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        border-bottom: 7px solid black;
    }
}

@media only screen and (min-width: 1248px) {
    /* if [device width] is >= 1248px */
}

@font-face {
    font-family: MYFONT;
    src: url('../fonts/BlackHanSans-Regular.ttf') format('truetype');
}